In [24]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [25]:
# Player Count - COMPLETE

total_players = len(purchase_data["SN"].unique())

player_count_data = {'Total Players':[total_players]}
player_count_df = pd.DataFrame(player_count_data)
player_count_df

   Total Players
0            576

In [26]:
# Purchasing Analysis (Total) - COMPLETE
    # Table: Number of Unique Items, Average Price, Number of Purchases & Total Revenue

# Number of Unique Items - COMPLETE
total_items = len(purchase_data["Item ID"].unique())
# total_items

# Average Price - COMPLETE
avg_price = round(purchase_data["Price"].mean(),(2))
# avg_price

# Number of Purchases - COMPLETE
total_purchases = len(purchase_data["Purchase ID"].unique())
# total_purchases

# Total Revenue - COMPLETE
total_revenue = purchase_data["Price"].sum()
# total_revenue
    
# Create a summary data frame to hold the results
purchase_total_data = {
    'Number of Unique Items':[total_items],
    'Average Price': [avg_price],
    'Number of Purchases': [total_purchases],
    'Total Revenue': [total_revenue]}

purchase_df = pd.DataFrame(purchase_total_data)
purchase_df
# # Use Map to format all the columns
# file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)
# file_df["population"] = file_df["population"].map("{:,}".format)
# file_df["other"] = file_df["other"].map("{:.2f}".format)
# file_df.head()

    # Optional: give the displayed data cleaner formatting
    
# Display the summary data frame

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

In [61]:
# Gender Demographics - Reference Pandas 3 - Bugfix
gender_data = pd.DataFrame(purchase_data[["SN","Gender"]])
# gender_data

# Drop Duplicate SNs 
gender_data.drop_duplicates(subset ="SN", keep = "first", inplace = True) 
gender_data

# Group by Gender
gender_group = gender_data.groupby("Gender")

#Count players per gender
gender_count = pd.DataFrame(gender_group["Gender"].value_counts())
gender_count.head()

# Rename the Gender column to "Total Count"
gender_count = gender_count.rename(
    columns={"Gender": "Total Count"})
gender_count.head()

# Calculate % of players per gender
gender_percentage = pd.DataFrame(round((gender_count/total_players)*100,2))
gender_percentage.head()

# # Rename the Total Count to "Percentage of Players"
gender_percentage = gender_percentage.rename(
    columns={"Total Count": "Percentage of Players"})
gender_percentage.head()

# NOTE: Cannot reset index or merge tables due to duplicate "Gender" column header

# Reset the index of "gender_group"
# gender_count = gender_count.reset_index()
# gender_count.head()

# gender_percentage = gender_percentage.reset_index()
# gender_percentage.head()

# gender_count = gender_count.merge(gender_percentage, on= "Gender")
# gender_count.head()

                                             Percentage of Players
Gender                Gender
Female                Female                                 14.06
Male                  Male                                   84.03
Other / Non-Disclosed Other / Non-Disclosed                   1.91

In [93]:
# Purchasing Analysis (Gender)
    # Table: Purchase Count, Average Purchase Price, Total Purchase Value, Avg Total Purchase Per Person 
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

# Group by Gender
gender_purchase_group = purchase_data.groupby("Gender")

gender_purchase_count = pd.DataFrame(gender_purchase_group['Gender'].value_counts())
gender_purchase_count.head()

gender_purchase_value = pd.DataFrame(gender_purchase_group['Price'].sum())
gender_purchase_value.head()

# avg_gender_purchase_price = pd.DataFrame(gender_purchase_value/gender_purchase_count)
# avg_gender_purchase_price.head()



# Create a summary data frame to hold the results
    # Optional: give the displayed data cleaner formatting
    # Display the summary data frame

                                             Gender  Price
Gender                Gender
Female                Female                    NaN    NaN
Male                  Male                      NaN    NaN
Other / Non-Disclosed Other / Non-Disclosed     NaN    NaN

In [89]:
#Age Demographics
#reference Pandas 3 -Binning

# Establish bins for ages
bins = (0,9,14,19,24,29,34,39,45)
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data

age_group = purchase_data.groupby("Age Group")

age_count = age_group["SN"].value_counts()
age_count
#How to I get the grand total solely by age group?

# # Categorize the existing players using the age bins. Hint: use pd.cut()
# df[age_demographics] = 

# Calculate the numbers and percentages by age group

# Create a summary data frame to hold the results

# Optional: round the percentage column to two decimal points

# Display Age Demographics Table

Age Group  SN
<10        Haillyrgue51    3
           Anallorgue57    2
           Eurithphos97    2
           Ilmol66         2
           Sondadar26      2
                          ..
40+        Isursuir31      1
           Jiskjask85      1
           Lisovynya38     1
           Mindossa76      1
           Salilis27       1
Name: SN, Length: 576, dtype: int64

In [31]:
# Purchasing Analysis (Age)
# Bin the purchase_data data frame by age

# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

# Create a summary data frame to hold the results

# Optional: give the displayed data cleaner formatting

# Display the summary data frame

In [79]:
# Top Spenders -Table headers: Purchase Count, Average Purchase Price, Total Purchase Value
# Reference pandas 3- bugfix
    
# Group by Player SN
    # set unique_SN as index column
SN_group = purchase_data.groupby("SN")

# Count total purchases per player
total_player_purchases = SN_group["SN"].value_counts()
# total_player_purchases

total_player_spending = SN_group["Price"].sum()
# total_player_spending

avg_purchase_price = round(total_player_spending/total_player_purchases,2)
# avg_purchase_price

# Create a summary data frame to hold the results
# top_spenders_data = {
#     'Purchase Count':[total_player_purchases],
#     'Average Purchase Price':[avg_purchase_price],
#     'Total Purchase Value': [total_player_spending]}

# top_spenders_df = pd.DataFrame(SN_group,total_player_purchases,avg_purchase_price,total_player_spending)
# top_spenders_df

# Sort the total purchase value column in descending order
        # reference pandas-1 hey arnold         

# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

In [87]:
# Most Popular Items - Table: Item ID, Item Name, Purchase Count, Item Price, Total Purchase Value
# Retrieve the Item ID, Item Name, and Item Price columns
item_df = pd.DataFrame(purchase_data[["Item ID","Item Name","Price"]])
item_df
    
# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
# id_name_group = item_df.groupby(["Item ID","Item Name"])
ID_group = item_df.groupby("Item ID")
name_group = item_df.groupby("Item Name")

# # Create a summary data frame to hold the results
item_purchase_count = ID_group["Item Name"].value_counts()
item_purchase_count

total_purchase_value = ID_group["Price"].sum()
total_purchase_value

item_price = total_purchase_value/item_purchase_count
item_price


    # Sort the purchase count column in descending order
    # Optional: give the displayed data cleaner formatting
    # Display a preview of the summary data frame

Item ID  Item Name
0        Splinter                           1.28
1        Crucifer                           3.26
2        Verdict                            2.48
3        Phantomlight                       2.49
4        Bloodlord's Fetish                 1.70
                                            ...
179      Wolf, Promise of the Moonwalker    4.48
180      Stormcaller                        3.36
181      Reaper's Toll                      1.66
182      Toothpick                          4.03
183      Dragon's Greatsword                1.09
Length: 183, dtype: float64

In [34]:
# Most Profitable Items
    # Sort the above table by total purchase value in descending order
    # Optional: give the displayed data cleaner formatting
    # Display a preview of the data frame