In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load 
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,School ID_x,school_name,type_x,size_x,budget_x,School ID_y,type_y,size_y,budget_y
0,0,Huang High School,District,2917,1910635,0,District,2917,1910635
1,1,Figueroa High School,District,2949,1884411,1,District,2949,1884411
2,2,Shelton High School,Charter,1761,1056600,2,Charter,1761,1056600
3,3,Hernandez High School,District,4635,3022020,3,District,4635,3022020
4,4,Griffin High School,Charter,1468,917500,4,Charter,1468,917500
5,5,Wilson High School,Charter,2283,1319574,5,Charter,2283,1319574
6,6,Cabrera High School,Charter,1858,1081356,6,Charter,1858,1081356
7,7,Bailey High School,District,4976,3124928,7,District,4976,3124928
8,8,Holden High School,Charter,427,248087,8,Charter,427,248087
9,9,Pena High School,Charter,962,585858,9,Charter,962,585858
10,10,Wright High School,Charter,1800,1049400,10,Charter,1800,1049400
11,11,Rodriguez High School,District,3999,2547363,11,District,3999,2547363
12,12,Johnson High School,District,4761,3094650,12,District,4761,3094650
13,13,Ford High School,District,2739,1763916,13,District,2739,1763916
14,14,Thomas High School,Charter,1635,1043130,14,Charter,1635,1043130